

<div class="row">
  <a class="col-md-6 col-12" href="/person/add">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Add Record</h6>
      </div>
    </div>
  </a>

      <a href="/person" class="col-12 col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6>List Record</h6>
        </div>
      </div>
    </a>
</div>
