

<h3>{{viewTitle}}</h3>

<form action="/person" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{person._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name">
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>DateOfBirth</label>
            <input type="text" class="form-control" name="dob" placeholder="Mobile">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-11">
            <label>Phonenumber</label>
            <input type="text" class="form-control" name="mobile0" placeholder="Mobile" required>
        </div>
        <div class="form-group col-md-1 text-center">
            <span id="id_add_phn_field" class="fa fa-plus-circle" style="position: relative;top: 36px;font-size: 26px;cursor: pointer;"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-11">
            <label>Email</label>
            <input type="text" class="form-control" name="email0" placeholder="Email" required>
        </div>
        <div class="form-group col-md-1 text-center">
            <span id="id_add_email_field" class="fa fa-plus-circle" style="position: relative;top: 36px;font-size: 26px;cursor: pointer;"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/person/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>

<script src="/js/addNewFields.js" charset="utf-8"></script>
